@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Dashboard";
}
@model Interbuzz_software.Models.DashboardViewModel

<div class="container">
    <h1 class="text-center text-white">Dashboard</h1>

    <!-- Blog Section -->
    <div>
        <h2 class="text-white">Blog</h2>
        <a asp-action="CreateBlog" class="btn btn-primary">Add New Blog</a>
        <table class="table text-white">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                        @if (Model.Blogs != null && Model.Blogs.Any())
                        {
                            foreach (var item in Model.Blogs)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.BlogImagePath))
                                        {
                                            <img src="@item.BlogImagePath" alt="Blog Image" width="150" />
                                        }
                                        else
                                        {
                                            <span>No Image</span>
                                        }
                                    </td>
                                    <td>@item.Title</td>
                                    <td>@Html.Raw(item.Description)</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a asp-action="EditBlog" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        }


            </tbody>
        </table>
    </div>
    <!-- Blog Section -->
    <!-- Our services section -->
    <div>
        <h2 class="text-white">Services</h2>
        <a asp-action="CreateService" class="btn btn-primary">Add New Service</a>
        <table class="table text-white">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Service</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Services)
                {
                    <tr>
                        <th>@item.Id</th>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ServiceImgPath))
                            {
                                <img src="@item.ServiceImgPath" alt="Service Image" width="150" />
                            }
                            else
                            {
                                <span>No Image</span>
                            }
                        </td>
                        <td>@item.ServiceTitle</td>
                        <td>@item.ServiceDescription</td>
                        <td>
                            <a asp-action="EditService" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="DeleteService" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- Our services section -->
</div>

<!-- Our Projects -->
<div class="container mt-5">
    <h2 class="text-white">Projects</h2>
    <a asp-action="CreateProject" class="btn btn-primary">Add New Project</a>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Service</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ProjectImgPath))
                        {
                            <img src="@item.ProjectImgPath" alt="Service Image" width="150" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@item.ProjectTitle</td>
                    <td>@item.ProjectDescription</td>
                    <td>
                        <a asp-action="EditProject" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteProject" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<!-- Our Projects -->
<!-- Clients -->
<div class="container mt-5">
    <h2 class="text-white">Clients</h2>
    <a asp-action="CreateClient" class="btn btn-primary">Add New Comment</a>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Profile Photo</th>
                <th scope="col">Name</th>
                <th scope="col">JOb</th>
                <th scope="col">Comments</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

                @foreach (var item in Model.Clients)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ClientProfilePath))
                            {
                                <img src="@item.ClientProfile" alt="ClientProfile" width="150" />
                            }
                            else
                            {
                                <span>No Profile Image</span>
                            }
                        </td>
                        <td>@item.ClientName</td>
                        <td>@item.ClinetJob</td>
                        <td>@item.ClientComment</td>
                        <td>
                    <a asp-action="EditClient" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="DeleteClient" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

        </tbody>
    </table>
</div>
<!-- Clients -->