<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">\
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>






    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <!-- Bootstrap -->

</head>

<body style="background-color: black;">

    <!-- area 1 -->
    <!-- navbar -->
    <div class="body-banner">
        <div class="body-home home-background-grid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#"><img src="images/LOGO_!50_100 1.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-st">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("About", "Home")">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("Service", "Home")">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("Blog", "Home")">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("Contact", "Home")">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- navbar -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 footer-section">
                            <div class="footer-logo">
                                <img src="images/LOGO_!50_100 1.png" alt="">
                            </div>
                            <p class="footer-about">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                eirmod tempor Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur.
                            </p>
                        </div>

                        <div class="col-lg-2 col-md-6 footer-section">
                            <h6>Quick Links</h6>
                            <ul class="footer-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-section">
                            <h6>Contact Information</h6>
                            <ul class="footer-links">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-phone" aria-hidden="true" style="color: #AD232B;;"></i>
                                        000-00000000
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope" aria-hidden="true" style="color: #AD232B;;"></i>
                                        Interbuzzmedia@gmail.com
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 footer-section">
                            <h6>Newsletter</h6>
                            <div class="footer-newsletter">
                                <input type="email" placeholder="Enter your email">
                                <button class="newsletter-btn">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                            <div class="social-links">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom">
                        <p>© 2025 Interbuzz Software & Media. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- Footer -->

            <script src="~/js/script.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
            <script>
                const swiper = new Swiper('.swiper', {
                    loop: true,
                    autoplay: {
                        delay: 3000, // time between slides in ms (3 seconds)
                        disableOnInteraction: false, // keeps autoplay running even when user interacts
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            </script>
            <script>
    CKEDITOR.replace('Description');
</script>


</body>
</html>
